#Modify this file then rename to .env
EMAIL_SENDER = "" #Who do you want notification emails to come from
EMAIL_RECIPIENTS = [""] #can be an email or email2text like number@vtext.com
EMAIL_PASSWORD = ""
WALLET_NAME=""
WALLET_PASSWORD=""
